.container {
    max-width: 1000px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 400px;
}

.form__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.form__item__control {
    width: 100%;
}

.form__item__label {
    font-family: sans-serif;
    font-size: .7rem;
    color: rgb(255, 86, 86);
    margin-bottom: 4px;
}

.form__item__btn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: none;
    color:rgb(28, 116, 199);
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
}

.form__item__btn:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.form__item__btn--accent {
    background-color: rgb(28, 116, 199);
    color: #fff;
}

.form__item__btn--accent:hover {
    background-color:  rgb(22, 107, 187)
}